{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<h1>Bienvenue sur la page About</h1>
<h2>Ici tu te trouve</h2>
<p>Notre de victime du jour est : {{victime}}</p>
<h3>Lien vers autre part :</h3>
<a href="{{ path('homepage') }}">Accueil</a>
{% endblock %}
